.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

#red {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#blue {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

#orange {
  grid-column-start: 1;
  grid-column-end: 3;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}